
@keyframes moveFromLeft {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  25% {
    transform: translateX(-70vw);
    opacity: 0.8;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveFromRight {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  25% {
    transform: translateX(70vw);
    opacity: 0.3;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.dancing-letter {
  display: inline-block;
  opacity: 0;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation: instagramDance 4s infinite;
  transform-origin: center;
}

.dancing-letter.left {
  animation-name: moveFromLeft;
}

.dancing-letter.right {
  animation-name: moveFromRight;
}

.space {
  display: inline-block; /* Ensures that spaces are properly positioned */
}

/* Add overflow hidden to prevent horizontal scroll */
body {
  overflow-x: hidden;
}
.bg {
  background: url("./bg.jpg") no-repeat;
  background-position: 45% 79%  ; 
  background-size: cover;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
    transform: scale(1);
  }
  25%{
    opacity: 0.6;
    transform: scale(2);
  }
  50% {
    opacity: 0.8;
    transform: scale(2);
  }
  75% {
    opacity: 1;
    transform: scale(2);
  }
}

.fade-in-out-grow-shrink {
  animation: fade-in-out-grow-shrink 1s infinite;
}




  
 /* fire.css */
@keyframes slideInOut {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .dancing-effect {
    animation: slideInOut 3s ease-in-out infinite;
  }
/* fire.css */
@keyframes scaleUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .scale-up-text {
    animation: scaleUp 3s ease-out forwards;
  }
    
  


   